<h1 mat-dialog-title>{{action}}</h1>

<div mat-dialog-content>
  <form  [formGroup]="formApplication">
    <div *ngIf="action != 'Delete'; else elseTemplate">
    
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="appCode" formControlName="appCode" required >
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('appCode', 'required')">App code is required</mat-error>
          <mat-error *ngIf="hasError('appCode', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
      </div>
      
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="name"  formControlName="name" required >
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="description"  formControlName="description" required >
          <mat-hint align="end">Not more then 250 characters long.</mat-hint>
          <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
          <mat-error *ngIf="hasError('description', 'maxlength')">You have more than 250 characters</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="appGroup"  formControlName="appGroup" required >
          <mat-hint align="end">Not more then 100 characters long.</mat-hint>
          <mat-error *ngIf="hasError('appGroup', 'required')">App group is required</mat-error>
          <mat-error *ngIf="hasError('appGroup', 'maxlength')">You have more than 100 characters</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-label>Choose a type</mat-label>
          <mat-select placeholder="appType"  formControlName="appType" required>
            <mat-option value="JAVA">JAVA</mat-option>
            <mat-option value="PHP">PHP</mat-option>
            <mat-option value="BOX">BOX</mat-option>
            <mat-option value="OS_COMPONENT">OS_COMPONENT</mat-option>
            <mat-option value="DB_ENGINE">DB_ENGINE</mat-option>
          </mat-select>
          <mat-error *ngIf="hasError('appType', 'required')">App type is required</mat-error>
        </mat-form-field>
      </div>
    </div>
  
    <ng-template #elseTemplate>
      Sure to delete ?
      <div><b>{{application.appCode}}</b></div>
      <div><b>{{application.name}}</b></div>
      <div><b>{{application.description}}</b></div>
      <div><b>{{application.appGroup}}</b></div>
      <div><b>{{application.appType}}</b></div>
    </ng-template>
  </form>
</div>

<div mat-dialog-actions align="center">
  <button mat-raised-button mat-primary color="primary" [disabled]="isDisabled()" (click)="doAction()">{{action}}</button>
  <button mat-flat-button color="warn" (click)="closeDialog()" >Cancel</button>
</div>
